* {
    margin: 0;
    padding: 0;
}

/* 标题区域 */
.title {
    width: 1052px;
    height: 46px;
    /* 上下边框 */
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
}
.title>.sp1 {
    font-size: 20px;
    font-weight: bold;
    color: #254282;
    /* 行高添加在了span标签上了
        问题：放在父元素上课实现效果，放在子元素上也可实现效果被称之为属性的继承
    */
    line-height: 46px;

}

.title>.sp2 {
    font-size: 10px;
    color: #99a5c2;
}

.info {
    width: 1052px;
    height: 326px;
    margin-top: 24px;
}
.info>div {
    height: 158px;
    width: 188px;
    /* 横向显示 */
    float: left;
    margin-right: 12px;
    margin-bottom: 8px;
}
/* 解决图片下面的留白问题 */
img {
    display: block;
}

.info>div>p {
    height: 34px;
    line-height: 34px;
    background-color: #f6f7f8;
    font-size: 12px;
    text-align: center;
}