* {
    margin: 0;
    padding: 0;
}
/* 整个页面背景颜色为灰色 */
body {
    background-color: #f2f1ef;
}


/* 头部区域 */
.title {
    width: 742px;
    height: 60px;
    /* 水平居中 */
    margin: 0 auto;
    /* 添加背景 */
    /* background-image: url(../img/logo_m.png); */
    /* 取消平铺 */
    /* background-repeat: no-repeat;
    background-position: left center; */
    /* 简写背景属性 */
    background: url(../img/logo_m.png) no-repeat left center;
    /* 首行缩进 */
    text-indent: 32px;
}


.title>.right {
    float: right;
    margin-top: 30px;
    font-size: 10px;
}

.title>.left {
    line-height: 60px;
    font-size: 18px;
}

/* 内容区域 */
.info {
    width: 742px;
    height: 274px;
    margin: 0 auto;
}
.info>div {
    width: 226px;
    height: 274px;
    background-color: white;
    /* 横向显示 */
    float: left;
    margin-right: 32px;
}

.info>.right {
    margin-right: 0px;
}

/* 只要插入图片，就要把下面的留白问题解决掉 */
img {
    display: block;
    /* 三个像素的下边框 */
    border-bottom: 3px solid skyblue;
}
.info>div>div {
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 24px;
}
.last {
    color: gray;
}
